body {
  font-family: 'Orbitron', sans-serif;
  background-image: url('static/gearscogs.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: ;
  background-position: right top;
}

.subtitle h4{
  color: gray;
  font-family: 'Indie Flower', cursive;
  font-size: 46px;
  margin: 0 0 0 0;
}

.botIcon {
  width: 100px !important;
}
#header .row.title {
  white-space: nowrap;
  padding: 20px 0 0 20px;
}

#header h1 {
  font-size: 100px;
  font-weight: bold;
  color: #c7adff;
  text-shadow: 2px 2px gray;
}

hr {
  border-top: 4px solid #eee;
}

.botsIrl {
  margin-top: 100px;
  width: 350px;
}

ul {
  margin-left: 50px;
  margin-top: 50px;
}

li {
  box-shadow: 1px 1px 5px #888888;
  font-size: 25px;
  background-color: #cfcffe;
  /*background-color: lavender;*/
  border-radius: 2px;
  padding: 25px 20px 20px 20px;
  display: inline;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  text-shadow: 0 0 5px #FF00AA;
}

/*HOME*/
.inlineImages {
  display: inline;
}

.enterMakestation {
  color: mediumpurple;
  font-family: 'Indie Flower', cursive;
  margin-top: 100px;
  font-size: 45px;
}

.glyphicon-wrench {
  font-size: 45px;
}

/*MAKE*/
.carousel-inner {
  width: 500px
}

#faceCarousel.carousel.slide.ng-scope {
  width: 500px !important;
}

#faceCarousel {
  width: 500px !important;
}
.carousel {
  width: 500px !important;
}

.beRed {
  background-color: red;
}

.makeButton {
  padding-left: 300px;
}
